<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="author"      content="">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        
        <title>{{config.title}}</title>
    
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <style>
            body {
                padding-top: 50px;
            }

            .form-signin {
                max-width: 300px;
                padding: 19px 29px 29px;
                margin: 0 auto 20px;
                background-color: #fff;
                border: 1px solid #e5e5e5;
                -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                        border-radius: 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                        box-shadow: 0 1px 2px rgba(0,0,0,.05);
            }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }
          
            .form-signin input[type="text"],
            .form-signin input[type="password"] {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }

            .sub-header {
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
            }


            .main {
                padding: 20px;
            }
            @media (min-width: 768px) {
                .main {
                    padding-right: 40px;
                    padding-left: 40px;
                }
            }
            .main .page-header {
                margin-top: 0;
            }

            .placeholders {
                margin-bottom: 30px;
                text-align: center;
            }
            .placeholders h4 {
                margin-bottom: 0;
            }
            .placeholder {
                margin-bottom: 20px;
            }
            .placeholder img {
                display: inline-block;
                border-radius: 50%;
            }

            .sidebar {
                display: none;
            }
            @media (min-width: 768px) {
                .sidebar {
                    position: fixed;
                    top: 51px;
                    bottom: 0;
                    left: 0;
                    z-index: 1000;
                    display: block;
                    padding: 20px;
                    overflow-x: hidden;
                    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                    background-color: #f5f5f5;
                    border-right: 1px solid #eee;
                }
            }

            .nav-sidebar {
                margin-right: -21px; /* 20px padding + 1px border */
                margin-bottom: 20px;
                margin-left: -20px;
            }
            .nav-sidebar > li > a {
                padding-right: 20px;
                padding-left: 20px;
            }
            .nav-sidebar > .active > a {
                color: #fff;
                background-color: #428bca;
            }

            .center {
               margin: 0 auto !important;
               float: none !important;
            }
        </style>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Director JS</a>
                </div>
                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                {{{body}}}

            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
            $('.install-submit').click(function() {
                $.ajax({
                    url  : '/attempt_install',
                    data : { title: $('.title-input').val(), url: $('.url-input').val(), urlSchema: $('.url-schema-input').val(), },
                    type :'POST',
                    success: function(data) {
                        if(data) window.location = '/';
                    }
                });
            });

            $('.sign-in-submit').click(function() {
                $.ajax({
                    url  : '/attempt_signin',
                    data : { user: $('.user-input').val(), pass: $('.pass-input').val() },
                    type :'POST',
                    success: function(data) {
                        if(data) window.location = '/';
                    }
                });
            });
        </script>
    </body>
</html>