<div class="span10 center">
	<h1 style="text-align:center">Welcome to Director JS!</h1>
	<p style="text-align:center">It looks like you have yet to set up your admin panel.  Please follow the below steps:</p>

	<br>
	<br>

	<fieldset>
	    <legend>General Settings</legend>

	    <div class="container-fluid center">
			<div class="span3">
			    <label>Blog Name</label>
			    <input class="input-block-level title-input" type="text" placeholder="My Blog" />
			</div>
			<div class="span3">
			    <label>Blog URL</label>
			    <input class="input-block-level url-input" type="text" placeholder="http://myblog.com/" />
			</div>
			<div class="span3">
			    <label>URL Schema</label>
			    <input class="input-block-level url-schema-input" type="text" placeholder="/posts/:slug" />
			</div>
		</div>
	</fieldset>

	<br>
	<br>

	<fieldset>
		<legend>User Settings</legend>

		<div class="table-responsive">
            <table class="table table-striped">
				<thead>
					<tr>
	                  	<th>#</th>
	                  	<th>Header</th>
	                  	<th>Header</th>
	                  	<th>Header</th>
	                  	<th>Header</th>
					</tr>
				</thead>
              	<tbody>
					<tr>
						<td>1,001</td>
						<td>Lorem</td>
						<td>ipsum</td>
						<td>dolor</td>
						<td>sit</td>
					</tr>
				</tbody>
			</table>
        </div>
	</fieldset>

	<br>
	<br>

	<div class="container-fluid">
		<button class="btn btn-lg btn-primary btn-block install-submit">
			Install <i class="glyphicon glyphicon-arrow-right"></i>
		</button>
	</div>
</div>